/*=====================================
        Bootstrap Media Queries
=====================================*/

/* large Devices (Desktops & Laptops) */
@media(min-width: 1200px){
    
    #navElements >li .odd{
        
        color: #fff;
    }
    #about-content-box-descr{
    width: 500px; 
    height: 250px; 
    text-align: justify; 
    text-justify: inter-word; 
    color: #022B3A; 
    text-shadow: 1px 1px 1px black;
    }
    #cont-underline{
    position: relative; 
    right: 42%;
    }
    #navElements{
        margin-left: 10%;
    }
    #NavName{
        margin-left: 1%;
    }
    
    
    
    /*=========================================
            Leisure ~ Short Stories
    ========================================*/
    .nav-tabs{
    margin:0 33%; 
    font-size: 110%;
    }
    
    
    #tweet-1{
    width:720px; height:280px; padding: 0 50px;
    }
    #tweet-2{
        width:720px; height: 160px; padding: 0 50px;
    }
    .poem-title h3{
        font-size:65px;
    }
    
    .text-area >p{
        padding: 0 2px;
        margin: 0 1%;
        font-size: 20px;
    }
    .Author{
        margin-right: 9%;
        font-size: 25px;
    }

}

/* Medium Devices (Landscape Tablets & Medium Desktops) */
@media (min-width: 992px) and (max-width: 1199px)
{
    #nav-bar{
        height: 50px;
        width: 100%;
    }
    
    #home-heading h3{
        font-size: 60px;
        margin-top: 190px;
    }
    #home-heading h4{
        font-size: 20px;
    }
    .navbar-header {
        margin-left: 15px;
    }
    #NavName{
        padding: 0;
    }
    #navImage{
    margin: 0 0 0 15px;
}
    #NavName h5{
        
        margin: 0 1px;
    }
    #navButtonTog{
        padding: 1% 2%;
        
        
    }
    #navElements >li >a{
        text-align: center;
        color: #2a9d8f;
    }
    #navElements >li .odd{
        background-color: #6c757d;
        color: yellow;
    }    
    #about-content-box-descr{
    width: 500px; 
    height: 250px; 
    text-align: justify; 
    text-justify: inter-word; 
    color: #022B3A; 
    text-shadow: 1px 1px 1px black;
    }
    
    
    
    /*=========================================
            Leisure ~ Short Stories
    ========================================*/
    .nav-tabs{
    margin:0 27%; 
    font-size: 110%;
    }
    
    
    #tweet-1{
    width:600px; height:240px; padding: 0 50px;
    }
    #tweet-2{
        width:600px; height: 140px; padding: 0 50px;
    }
    
    .poem-title h3{
        font-size:62px;
    }
    
    
    .text-area >p{
        padding: 0 2px;
        margin: 0 1%;
        font-size: 20px;
    }
    .Author{
        margin-right: 9%;
        font-size: 25px;
    }
    
    
    /*=========================================
                Our Team
    =========================================*/
    .el{
    height: 480px;
    background-color: #fff;
    padding: 8px;
    margin: 3% 20%;
    border-radius: 5px;
    border: 1px solid grey;
    }
    .el1{
    height: 445px;
    background-color: #fff;
    padding: 8px;
    margin: 3% 20%;
    border-radius: 5px;
    border: 1px solid grey;
    }
    .el2{
    height: 470px;
    background-color: #fff;
    padding: 8px;
    margin: 3% 30%;
    border-radius: 5px;
    border: 1px solid grey;
    }


}

/* Small Devices (Portrait Tablets & Small Desktops) */
@media (min-width: 768px) and (max-width: 991px)
{
    
    /*===========================================
                    Header and Footer
    ==========================================*/
    #nav-bar{
        height: 50px;
        width: 100%;
    }    
    #home-heading h3{
        font-size: 48px;
        margin-top: 190px;
    }
    #home-heading h4{
        font-size: 20px;
    }
    .navbar-header {
        margin-left: 15px;
    }
    #NavName{
        padding: 0;
    }
    #navImage{
    margin: 0 0 0 18px;
}
    #NavName h5{
        
        margin: 0 1px;
    }
    #navButtonTog{
        padding: 1% 2%;
        
        
    }
    #navElements >li >a{
        text-align: center;
        color: #2a9d8f;
    }
    #navElements >li .odd{
        background-color: #6c757d;
        color: yellow;
    }
     
    /**==========================================
                Index page
    ===========================================*/
    .text-area p{
        font-size: 15px;
    }
    .popular-item{
        width: 244px;
    }
    .popular-item-title h3{
        font-size: 20px;
    }
    .panel{
        margin: 0 5%;
        width: 360px;
    }
    .pop-row{
        margin: 0 auto;
    }
    #P4{
    font-size: 100%;
    }
    
    
    /*=========================================
            Leisure ~ Short Stories
    ========================================*/
    .nav-tabs{
    margin:0 40%; 
    font-size: 110%;
    }
    
    
    #tweet-1{
    width:600px; height:240px; padding: 0 50px;
    }
    #tweet-2{
        width:600px; height: 140px; padding: 0 50px;
    }
    
    .poem-title h3{
        font-size:62px;
    }
    
    .text-area >p{
        padding: 0 2px;
        margin: 0 1%;
        font-size: 20px;
    }
    .Author{
        margin-right: 9%;
        font-size: 25px;
    }
    
    
      /*=========================================
                Our Team
    =========================================*/
    .el{
    height: 480px;
    background-color: #fff;
    padding: 8px;
    margin: 3% 20%;
    border-radius: 5px;
    border: 1px solid grey;
    }
    .el1{
    height: 445px;
    background-color: #fff;
    padding: 8px;
    margin: 3% 20%;
    border-radius: 5px;
    border: 1px solid grey;
    }
    .el2{
    height: 470px;
    background-color: #fff;
    padding: 8px;
    margin: 2% 30%;
    border-radius: 5px;
    border: 1px solid grey;
    }
    .content-title h3{
       padding-left: 15%;
    }
    .role{
        padding-left: 12%;
        position: relative;
        bottom: 20px;
    }
    .row-1{
        position: relative;
        bottom: 55px;
    }
    
    .row-3{
        position: relative;
        bottom: 65px;
    }
}


@media (max-width: 767px){
    
    
    /*===========================================
                    Header and Footer
    ==========================================*/
    #nav-bar{
        height: 50px;
        width: 100%;
    }    
    #home-heading h3{
        font-size: 36px;
        margin-top: 100px;
    }
    #home-heading h4{
        font-size: 20px;
    }
    .navbar-header {
        margin-left: 15px;
    }
    #NavName{
        padding: 0;
    }
    #navImage{
    margin: 0 0 0 15px;
    }
    #NavName h5{
        
        margin: 0 1px;
    }
    #navButtonTog{
        padding: 1% 2%;
        
        
    }
    #navElements >li >a{
        text-align: center;
        color: #2a9d8f;
    }
    #navElements >li .odd{
        background-color: #6c757d;
        color: yellow;
    }    
    #about-write-us{
    font-size: 16px;
    width: 400px;
    height: 25px;
    letter-spacing: 1px;
    position: relative; 
    bottom: 40px; 
    color: black;
}       
    #about-bg-diagonal{
    background-image: url();
    width: 50%;
    height: 400px;
    float: right;
    vertical-align: middle;
    border-left: 250px solid rgb(173, 216, 230);
    border-top: 400px solid transparent;
    opacity: 0.6;    
    }
    
    
    /**==========================================
                Index page
    ===========================================*/
    .text-area p{
        font-size: 14px;
    }
    
    
    
    /*=========================================
            Leisure ~ Short Stories
    ========================================*/
    .nav-tabs{
    margin:0 38%; 
    font-size: 110%;
    }
    
    #tweet-1{
    width:420px; height:180px; padding: 0 50px;
    }
    #tweet-2{
        width:420px; height: 80px; padding: 0 50px;
    }
    
    
    /*=========================================
                Leisure - Poems
    =========================================*/
    
    .leisure-item-desc .hindi .Author{
    font-size: 10px;
    }
    .poem-title h3{
        font-size:62px;
    }
    .text-area >p{
        padding: 0 2px;
        margin: 0 1%;
        font-size: 20px;
    }
    .Author{
        margin-right: 9%;
        font-size: 25px;
    }
    
    /*=========================================
                Our Team
    =========================================*/
    .el{
    height: 480px;
    background-color: #fff;
    padding: 8px;
    margin: 3% 18%;
    border-radius: 5px;
    border: 1px solid grey;
    }
    .el1{
    height: 445px;
    background-color: #fff;
    padding: 8px;
    margin: 3% 20%;
    border-radius: 5px;
    border: 1px solid grey;
    }
    .el2{
    height: 470px;
    background-color: #fff;
    padding: 8px;
    margin: 2% 30%;
    border-radius: 5px;
    border: 1px solid grey;
    }
    .content-title h3{
       padding-left: 15%;
    }
    .role{
        padding-left: 12%;
        position: relative;
        bottom: 20px;
    }
    .row-1{
        position: relative;
        bottom: 55px;
    }
    
    .row-3{
        position: relative;
        bottom: 65px;
    }

    .el{
         
         margin: 3% 0;
    }
    .el1{
        margin: 3% 0;
    }
    .el2{
        margin: 3% 18%;
    }

}

/* Extra Small devices (Lansscape Phones & Portrait tabets)*/
@media (max-width: 480px)
{
     
    #nav-bar{
        height: 50px;
        width: 100%;
    }    
    #home-heading h3{
        font-size: 36px;
        margin-top: 100px;
    }
    #home-heading h4{
        font-size: 20px;
    }
    .navbar-header {
        margin-left: 15px;
    }
    #NavName{
        padding: 0;
    }
    #navImage{
    margin: 0 0 0 2px;
}
    #NavName h5{
        
        margin: 0 1px;
    }
    #navButtonTog{
        padding: 1% 2%;
        
        
    }
    #navElements >li >a{
        text-align: center;
        color: #2a9d8f;
    }
    #navElements >li .odd{
        background-color: #6c757d;
        color: yellow;
    
    }
    #about-desc{
        padding-right:  30px;
    }
    #about-bg-diagonal{
        border-left: 0;
        border-top: 0;
    }
    #about-content-box-descr{
        font-size: 18px;
        width: 320px;
        right: 40px;
    }   
    #about-content-box-descr-cont{
        position: relative; 
        bottom: 40px; 
        color: black;
        font-size: 20px;
    }
    #about-title-underline{
        position: relative; 
        right: 34%;
    }    
    #about-write-us{
    font-size: 14px;
    width: 400px;
    height: 25px;
    letter-spacing: 1px;
    position: relative; 
    bottom: 40px; 
    color: black;
}
    #about-bg-diagonal{
    background-image: url();
    }
    #contact h4, h5{
    font-size: 16px;
    }
    .nav-tabs{
    margin:0 38%; 
    font-size: 110%;
    }
    
    #tweet-1{
    width:400px; height:170px; padding: 0 50px;
    }
    #tweet-2{
        width:400px; height: 70px; padding: 0 50px;
    }
    
    .poem-title h3{
        font-size:58px;
    }
    .subNavLink{
        font-size: 12px;
    }
    
    .text-area >p{
        padding: 0 2px;
        margin: 0 1%;
    }
    .Author{
        margin-right: 5%;
        font-size: 18px;
    }
    
    /*=========================================
                Our Team
    =========================================*/
    .el{
         
        margin: 3% 0;
        margin-right: 15px;
        position: relative;
        right: 25px;
    }
    .el1{
        margin: 3% 0;
        margin-right: 15px;
        position: relative;
        right: 25px;
    }
    .el2{
        margin: 3% 18%;
        margin-right: 15px;
        position: relative;
        right: 25px;
    }
    #photog{
        margin-right: 50px;
        position: relative;
        right: 35px;
    }
    
    
}


/* Small devices (Portrait Tablets & Portrait Tablets*/
@media (max-width: 320px){
    
    #nav-bar{
        height: 50px;
        width: 100%;
    }    
    #home-heading h3{
        font-size: 36px;
        margin-top: 100px;
    }
    #home-heading h4{
        font-size: 20px;
    }
    .navbar-header {
        margin-left: 15px;
    }
    #navImage{
    margin: 0 0 0 2px;
    }
    #NavName h5{
        
        margin: 0 1px;
    }
    #navButtonTog{
        padding: 1% 2%;
                
    }        
    #navElements >li >a{
        text-align: center;
        color: #2a9d8f;
    }
    #navElements >li .odd{
        background-color: #6c757d;
        color: yellow;
    }
     #about-content-box-descr{
        font-size: 18px;
        width: 320px;
    }   
    #about-bg-diagonal{
    background-image: url();
    border: 0;
    margin: 0;
    width: 0;
    }    
    #about-write-us{
    font-size: 14px;
    width: 310px;
    height: 25px;
    letter-spacing: 1px;
    position: relative; 
    bottom: 40px; 
    right: 40px;
    color: black;
    }    
    #tweet-1{
    width:240px; height:110px; padding: 0 25px;
    }
    #tweet-2{
        width:240px; height: 50px; padding: 0 25px;
    }
    
    .poem-title h3{
        font-size:48px;
    }
    .subNavLink{
        font-size: 12px;
    }
    
    .text-area >p{
        padding: 0 2px;
    }
    
    /*=========================================
                Our Team
    =========================================*/
   /**
    .el{
        align-content: center;
        position: relative;
        right: 50px;
    }
    .el1{
        margin: 3% 0;
        margin-right: 15px;
        position: relative;
        right: 50px;
    }
    .el2{
        margin: 3% 18%;
        margin-right: 15px;
        position: relative;
        right: 50px;
    }
    **/
    #photog{
        position: relative;
        right: 35px;
    }
    
}




